.container{
    position: relative;
    z-index: -1;
    margin-top: 2rem;
    padding: 1rem;
}

.subheading{
    font-weight: normal;
    font-style: italic;
    text-align: center;
    margin-bottom: 2rem;
}

.flex{
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.subheading{
    margin-top: 1rem;
}

.banner_image{
    z-index: 0;
    width: 100%;
}



.form{
    position: absolute;
    top: 30%;
    left: 50%;
    translate: (-50%, -50%);
    background-color: rgb(255,255,255,.4);
    z-index: 1;
    width: 30%;
    padding: 2rem;
    border-radius: .7rem;
}

.form input{
    padding: .5rem;
    border-radius: .7rem;
    border: none;
    width: calc(100% - 1rem);
    margin-bottom: 1.5rem;
    outline: none;
}

.form textarea{
    border: none;
    border-radius: .7rem;
    height: 4rem;
    width: calc(100% - 1rem);
    outline: none;
    padding: .5rem;
}

.form input[type='submit']{
    margin-top: 1.5rem;
    color: white;
    background-color: var(--blue);
    width: 100%
}

@media only screen and (max-width: 767px){
    .container{
        margin-bottom: 22rem;
    }

    .form{
        width: 70%;
        top: 70%;
        left: 10%;
        background-color: rgb(200,200, 200,.4);
        padding: 1rem;
    }

    .form input, .form textarea {
        font-size: .8rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container{
        margin-bottom: 22rem;
    }
    
    .form{
        width: 70%;
        top: 70%;
        left: 10%;
        background-color: rgb(200,200, 200,.4);
    }
}