:root{
    --blue: #349dd8;
    --dark-blue: #015989;
    --ligth-gray: #f0f2f4;
}

h1, h2, h3, h4, p, a{
    margin: 0;
}

body{
    font-family: "Lora", Arial, serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.heading{
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
}


@media only screen and (max-width: 767px) {
    .heading{
        font-size: 1.7rem;
    }
}
/*------------------ Header ------------------------*/
header{
    position: sticky;
    top: 0;
    background-color: white;
    -webkit-box-shadow: 0 0 20px 0 rgba(179,179,179,1);
    -moz-box-shadow: 0 0 20px 0 rgba(179,179,179,1);
    box-shadow: 0 0 20px 0 rgba(179,179,179,1);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.logo_brand{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.logo{
    width: 3rem;
    height: 3rem;
}

.flag{
    height: 2.5rem;
}

.navigator{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.navigator_route{
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
}

.navigator_route:hover{
    color: var(--blue);
}

.navigator_route.active{
    color: var(--blue);
}

.nav_services{
    position: absolute;
    margin-left: -10rem;
    background-color: white;
    padding: 1rem 2rem;
    -webkit-box-shadow: 0 0 20px 0 rgba(179,179,179,1);
    -moz-box-shadow: 0 0 20px 0 rgba(179,179,179,1);
    box-shadow: 0 0 20px 0 rgba(179,179,179,1);
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms;
}

.nav_services.active{
    visibility: visible;
    opacity: 1;
}

.nav_services:hover{
    visibility: visible;
    opacity: 1;
}

.nav_services li{
    list-style-type: none;
}

.nav_service{
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: .3rem;
}

.nav_service:hover{
    color: var(--blue);
}

.menu_icon{
    visibility: hidden;
    width: 0;
    height: 0;
    z-index: 1;
}

.chevron{
    visibility: hidden;
    display: none;
}

@media only screen and (max-width: 767px) {
    .flag{
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .logo_brand{
        justify-content: space-between;
    }

    .logo{
        margin: .3rem 0;
    }

    .menu_icon{
        visibility: visible;
        width: 2rem;
        height: 2rem;
        background-color: var(--ligth-gray);
        padding: .5rem;
        border-radius: 50%;
        transition: rotate 500ms ease;
    }

    .chevron{
        visibility: visible;
        display: block;
        width: 1.8rem;
        transition: rotate 500ms ease;
    }

    .chevron.active{
        rotate: -180deg;
    }

    .navigator_route_services{
        display: flex;
        justify-content: space-between;    
        align-items: center;
    }

    .nav_services{
        position: static;
        margin: 0;
        padding: 0;
        height: 0;
        opacity: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background: none;
        line-height: 1.5;
        transition: height 500ms ease, opacity 500ms ease;
    }

    .nav_services.active{
        opacity: 1;
        height: 13rem;
    }

    .menu_icon.active{
        rotate: 90deg;
    }

    .navigator{
        position: absolute;
        top: 0;
        left: 100%;
        padding: 8rem 3rem;
        flex-direction: column;
        width: calc(100% - 6rem);
        height: 100vh;
        background-color: rgba(255, 255, 255, .5);
        backdrop-filter: blur(5px);
        transition: left 500ms ease;
    }

    .navigator.active{
        left: 0;
    }

    .navigator_route{
        border-bottom: 1px solid black;
        width: 85%;
        padding-bottom: 1rem;
    }
}
/*------------------ Header ------------------------*/

/* ----------------- Brand -------------------------*/
.brand {
    font-family: "Monserrat", Arial, serif;
    width: 10rem;
    padding: 1rem 0;
}

.brand .grafic{
    height: 3px;
    background: linear-gradient(90deg, #cda74d 0%, transparent 35%, transparent 50%, transparent 65%, #cda74d 100%);
}

.group-text{
    font-size: .8rem;
    font-weight: bold;
}

.brand .names{
    display: flex;
    justify-content: space-between;
}

.names-text{
    font-size: 1.2rem;
    font-weight: bold;
}

.brand .subtitle{
    display: flex;
    justify-content: space-between;
}

.subtitle-text{
    font-size: .5rem;
    font-weight: lighter;
}

@media only screen and (max-width: 767px) {
    .brand{
        visibility: hidden;
        height: 0;
        width: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .brand{
        visibility: hidden;
        height: 0;
        width: 0;
    }
}
/* ----------------- Brand -------------------------*/

/* ----------------- Footer ------------------------*/
.footer{
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    gap: 3rem;
    margin-top: 3rem;
    background-color: var(--dark-blue);
    padding: 3rem;
    color: white;
    font-size: .8rem;
}

.enterprise_name{
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.enterprise_information, .enterprise_copyrigth{
    font-size: .9rem;
    color: gray;
}

.enterprise_information{
    margin-bottom: 1rem;
}

.contact_address{
    margin-bottom: 1rem;
}

.contact_email{
    margin-bottom: .5rem;
}

.contact_email, .contact_phone{
    font-size: 1rem;
}

.contact_simbols{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.contact_simbols img{
    padding: .8rem;
    height: 2rem;
    width: 2rem;
    background-color: white;
    border-radius: 45%;
}

@media only screen and (max-width: 767px){
    .footer{
        grid-template-columns: 1fr;
    }

    .enterprise{
        grid-row: 3 / 4;
    }
} 
/* ----------------- Footer ------------------------*/