/* ----------------- Team --------------------------*/
.hide{
    visibility: hidden;
}

.team_container{
    display: flex;
    align-items: center;
    width: 33rem;
    margin: 0 auto;
}

.team{
    display: flex;
    margin: 0 auto;
    width: 25rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.team::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.member{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    margin-bottom: 1rem;
}

.team_chevron{
    width: 2rem;
    height: 2rem;
    padding: .3rem;
    border-radius: .7rem;
    background-color: var(--ligth-gray);
}

.selected{
    display: flex;
    align-items: center;
    gap: .5rem;
    width: fit-content;
    margin: 0 auto;
    height: 2rem;
}

.selected_point{
    display: block;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: lightgray;
    transition: background-color 300ms ease;
}

.selected_point.active{
    background-color: darkgray;
}

.member_photo{
    width: 25rem;
}

.member_content{
    width: 100%;
    background-color: var(--ligth-gray);
    padding-bottom: 1rem;
}

.member_name{
    margin-top: 1rem;
    color: var(--blue);
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

.member_information{
    text-align: center;
    font-size: .9rem;
}

@media only screen and (max-width: 767px){
    .container{
        width: 100%;
    }

    .team{
        grid-template-columns: 1fr;
        width: 18rem;
    }

    .member{
        margin-top: 1.5rem;
    }

    .team_container{
        gap: .3rem;
        width: 90%;
    }

    .team_chevron{
        width: 1.5rem;
        height: 1.5rem;
    }

    .member_photo{
        width: 18rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .team{
        grid-template-columns: repeat(2, 1fr);
    }

    .member:nth-child(3), .member:nth-child(4){
        margin-top: 1.5rem;
    }
}
/* ----------------- Team --------------------------*/

/* ----------------- Services ----------------------*/
.team + .heading{
    margin-top: 9rem;
}

.services{
    display: flex;
    margin: 2rem auto 0 auto;
    justify-content: space-between;
    text-align: center;
}

.service{
    padding: 2rem;
    flex-grow: 1;
}

.service:nth-child(1), .service:nth-child(3){
    background-color: var(--ligth-gray);
}

.service_number{
    font-size: 2.5rem;
}

.number_line{
    width: 4rem;
}

.service_title{
    margin-top: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
}

.service_link{
    display: block;
    font-family: Arial;
    color: var(--blue);
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-size: 1rem;
}

@media only screen and (max-width: 767px){
    .services{
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .services{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .service:nth-child(3){
        background-color: white;
    }

    .service:nth-child(1), .service:nth-child(4){
        background-color: var(--ligth-gray);
    }
}
/* ----------------- Services ----------------------*/

/* ----------------- Process -----------------------*/
.container + .heading{
    margin-top: 9rem;
}

.process-s{
    margin-top: 2rem;
    display: flex;
    background-color: var(--ligth-gray);
    margin-bottom: 3rem;
    gap: .5rem;
    width: 100%;
}

.process_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 65%;
    margin: 0 auto;
    gap: 1rem;
}

.process{
    margin: 3rem 0 2rem 0;
    background-color: white;
    padding: 2rem;
}

.process_number{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: var(--ligth-gray);
    width: 4rem;
    height: 4rem;
    margin: -4rem auto 0 auto;
    border-radius: 50%;
}

.process_title{
    margin-top: 3rem;
    text-align: center;
    color: var(--dark-blue);
    font-size: 1.2rem;
    font-style: italic;
}

.process_list{
    line-height: 2;
    margin-top: 3rem;
    font-family: Arial, serif;
}

@media only screen and (max-width: 767px){
    .process_container{
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .process_container{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .process:nth-child(3){
        grid-column: 1 / 3;
    }
}
/* ----------------- Process -----------------------*/

/* ----------------- Phrase ------------------------*/
.phrase{
    text-align: center;
}

.phrase_contact{
    font-family: "Segoe UI", serif;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: .2rem;
    display: block;
    width: 10rem;
    margin: 0 auto 2rem auto;
    background-color: var(--blue);
    color: white;
    padding: .7rem 1rem;
    text-decoration: none;
    border-radius: 4rem;
}

.phrase_apostrophe{
    font-size: 11rem;
    height: 6rem;
    color: var(--dark-blue);
}

.phrase_text{
    font-size: 2rem;
    color: var(--dark-blue);
    width: 24rem;
    margin: 0 auto;
    line-height: 2.5rem;
}

.phrase_autor{
    margin-top: 1rem;
    font-size: .9rem;
    color: var(--dark-blue);
}

@media only screen and (max-width: 767px) {
    .phrase_text{
        font-size: 1.5rem;
    }
}
/* ----------------- Phrase ------------------------*/
